---
---

@import "{{ site.theme }}";

nav {
  max-width: 64rem;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

nav li {
  float: left;
  display: inline;
}

nav li a {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.page-header {
  background-color: #fff;
  background-image: url(/assets/computer.jpg);
  background-size: cover;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #272C32;
}
