---
---

@import "{{ site.theme }}";

nav {
  max-width: 64rem;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

nav li {
  float: left;
  display: inline;
}

nav li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.page-header {
    background-image: url(https://c1.staticflickr.com/5/4530/38075195406_f4b19e18b4_b.jpg);
    background-size: cover;
}
